<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<description>SpringMVC的URL映射配置</description>

	<!-- url映射配置 -->
	<bean id="publicUrlMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<!-- 验证码 -->
				<prop key="/captcha.img">captchaController</prop>
				<!-- 身份验证 -->
				<prop key="/secure/authentication.html">authenticationController</prop>
				<prop key="/secure/unauthorized.html">unauthorizedController</prop>
				<!-- 登录 -->
				<prop key="/login.html">loginController</prop>
				<!-- 默认登录后转向页面 -->
				<prop key="/default.html">defaultController</prop>
				<!-- 后台管理 -->
				<prop key="/mt/menu/menu_read.html">setFuncMenuController</prop>
				<prop key="/mt/resource/resource_read.html">setResourceController</prop>
				<prop key="/mt/role/role_menu_read.html">roleMenuController</prop>
				<prop key="/mt/role/role_resource_read.html">rroleResourceController</prop>
				<prop key="/mt/user/user_read.html">userGroupController</prop>
				<prop key="/mt/rgroup/rgroup_read.html">roleGroupController</prop>
				<prop key="/mt/rgroup/rgroup_read.html">roleGroupController</prop>
				<!-- csv导出 -->
				<prop key="/export/csvExport.html">exportCsvController</prop>
			</props>
		</property>
	</bean>

</beans>
