<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--请求参数配置，默认为action -->
	<bean id="parameterMethodNameResolver"
		class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver">
		<property name="paramName" value="opt" />
		<!-- 映射方法名称 -->
		<property name="logicalMappings">
			<props>
				<!-- sample -->
				<prop key="s100">sampleWsDisplay</prop>
				<prop key="s101">sampleWsInvoke</prop>
				<prop key="s200">sampleCompsDisplay</prop>
				<prop key="s400">sampleCompsCascadeAsync</prop>
				<prop key="s500">sampleCompsLabelLoad</prop>
				<prop key="s600">sampleCsvExport</prop>
				<prop key="s700">sampleFileUpload</prop>
				<prop key="s800">sampleDrawFilePrint</prop>
				<prop key="s801">sampleRefundPrint</prop>

				<!-- CSV导出 -->
				<prop key="ep1000">csvExport</prop>


				<!-- 首页 -->
				<prop key="s1000">defaultDisplay</prop>

				<prop key="s2000">resourceDisplay</prop>
				<prop key="s2001">resourceCreateDisplay</prop>
				<prop key="s2002">resourceCreate</prop>
				<prop key="s2003">resourcePersistenceDisplay</prop>
				<prop key="s2004">resourceUpdate</prop>
				<prop key="s2005">resourceDelete</prop>

				<prop key="s3000">menuDisplay</prop>
				<prop key="s3001">menuPersistenceDisplay</prop>
				<prop key="s3002">menuCreate</prop>
				<prop key="s3004">menuUpdate</prop>
				<prop key="s3005">menuDelete</prop>

				<prop key="s4000">roleMenuDisplay</prop>
				<prop key="s4001">roleMenuPersistenceDisplay</prop>
				<prop key="s4002">roleMenuCreate</prop>
				<prop key="s4003">roleMenuUpdate</prop>
				<prop key="s4004">roleMenuDelete</prop>

				<prop key="s6000">roleResourceDisplay</prop>
				<prop key="s6001">roleResourcePersistenceDisplay</prop>
				<prop key="s6002">roleResourceCreate</prop>
				<prop key="s6003">roleResourceUpdate</prop>
				<prop key="s6004">roleResourceDelete</prop>

				<prop key="s7000">userGroupDisplay</prop>
				<prop key="s7001">userPersistenceDisplay</prop>
				<prop key="s7002">userGroupCreate</prop>
				<prop key="s7003">userGroupUpdate</prop>
				<prop key="s7004">userGroupDelete</prop>

				<prop key="s5000">roleGroupDisplay</prop>
				<prop key="s5001">groupPersistenceDisplay</prop>
				<prop key="s5002">groupCreate</prop>
				<prop key="s5003">groupUpdate</prop>
				<prop key="s5004">groupDelete</prop>


				<!-- 审核出款 -->
				<prop key="drawApprove0001">drawApproveProtocolQuery</prop>
				<prop key="drawApprove0002">drawApproveFastQuery</prop>
				<prop key="drawApprove0003">drawApproveFastDetailQuery</prop>
				<prop key="drawApprove0004">drawApproveProtocolResendQuery</prop>

				<prop key="drawApprove1001">drawApproveProtocol</prop>
				<prop key="drawApprove1002">drawApproveFast</prop>
				<prop key="drawApprove1003">drawApproveFastDetail</prop>
				<prop key="drawApprove1004">drawApproveProtocolResend</prop>


				<prop key="draw0000">drawManualQuery</prop>
				<prop key="draw0002">drawManual</prop>


				<!-- 线上出款 -->
				<prop key="draw0003">drawOnlineQuery</prop>
				<prop key="draw0004">drawOnlineExceptionQuery</prop>
				<prop key="draw0005">drawOnlineCheckQuery</prop>
				<prop key="draw0006">drawOnlineAgainCheckQuery</prop>
				<prop key="draw0007">drawOnlineChangeCheckQuery</prop>
				<prop key="draw0008">drawOnlinePrintQuery</prop>
				<prop key="draw0009">drawOnlinePrintAgainQuery</prop>
				<prop key="drawStatusQuery">drawOnlineQuery</prop>
				<prop key="drawCSV">drawCSV</prop>
				
				
				
				
				<!-- 拒付 -->
				<prop key="drawRefuse0001">drawRefuseQuery</prop>
				<prop key="drawRefuse1001">drawRefuse</prop>


				<!-- 申请出款成功 -->
				<prop key="draw1001">drawOnlineApplySuccess</prop>
				<!-- 申请线上重新出款 -->
				<prop key="draw1002">drawOnlineApplyResend</prop>
				<!-- 申请线上转线下 -->
				<prop key="draw1003">drawOnlineApplyChange</prop>
				<!-- 审核出款成功 -->
				<prop key="draw1004">drawOnlineSuccess</prop>
				<!-- 审核线上重新出款 -->
				<prop key="draw1005">drawOnlineResend</prop>
				<!-- 审核线上转线下 -->
				<prop key="draw1006">drawOnlineChange</prop>
				<!-- 审核出款成功拒绝 -->
				<prop key="draw1007">drawOnlineSuccessRefuse</prop>
				<!-- 审核线上重新出款 -->
				<prop key="draw1008">drawOnlineResendRefuse</prop>
				<!-- 审核线上转线下 -->
				<prop key="draw1009">drawOnlineChangeRefuse</prop>
				<!-- 线上出款打印 -->
				<prop key="draw1010">drawOnlinePrint</prop>
				<!-- 线上出款重新打印 -->
				<prop key="draw1011">drawOnlinePrintAgain</prop>
				<!-- 线上出款CSV导出 -->
				<prop key="draw1012">drawOnlineCSV</prop>


				<!-- 线下出款 -->
				<prop key="draw0001">drawQuery</prop>
				<prop key="draw0011">drawCreateFileQuery</prop>
				<prop key="draw0012">drawFilePrintQuery</prop>
				<prop key="draw0013">drawFileReprintQuery</prop>
				<prop key="draw0014">drawFileDownloadQuery</prop>
				<prop key="draw0015">drawSureQuery</prop>
				<prop key="draw0016">drawSureDetailQuery</prop>
				<prop key="canceldrawsrue">cancelDrawSureQuery</prop><!--拒付出款确认  -->
				<prop key="cancelSureDetail">cancelDrawSureDetailQuery</prop><!--拒付出款明细确认  -->
				<prop key="cancelload">cancelLoad</prop><!--拒付出款明细确认  -->
				<prop key="canceldetailagreeload">cancelDetailAgreeLoad</prop><!--拒付出款明细确认  -->
				<prop key="canceldetailrefuseload">cancelDetailRefuseLoad</prop><!--拒付出款明细确认  -->
				<prop key="drawCancelSure">drawCancelSure</prop><!--拒付出款明细确认  -->
				<prop key="drawCancelSureDetailAgree">drawCancelSureDetailAgree</prop><!--拒付出款明细确认  -->
				<prop key="drawCancelSureDetailRefuse">drawCancelSureDetailRefuse</prop><!--拒付出款明细确认  -->
				<prop key="draw0021">drawCreateFile</prop>
				<prop key="draw0022">drawFilePrint</prop>
				<prop key="draw0023">drawFileReprint</prop>
				<prop key="draw0024">drawFileDownload</prop>
				<prop key="draw0025">drawSure</prop>

				<prop key="draw0027">drawFileCSV</prop>

				<prop key="draw0028">drawSureDetailAgree</prop>
				<prop key="draw0029">drawSureDetailRefuse</prop>
				
				<prop key="draw0030">drawWriteoffQuery</prop>
				<prop key="draw0031">drawWriteoff</prop>

				<!-- 退款 -->
				<prop key="refund0001">refundQuery</prop>
				<prop key="refund0002">refundDataSupplyQuery</prop>
				<prop key="refund0003">refundCreateFileQuery</prop>
				<prop key="refund0004">refundFilePrintQuery</prop>
				<prop key="refund0005">refundFileReprintQuery</prop>
				<prop key="refund0006">refundFileDownloadQuery</prop>
				<prop key="refund0007">refundSureQuery</prop>
				<prop key="refund0008">refundDataLoadQuery</prop>
				<prop key="refund0009">refundSureDetailQuery</prop>

				<prop key="refund0010">refundDataSupply</prop>
				<prop key="refund0011">refundCreateFile</prop>
				<prop key="refund0012">refundFilePrint</prop>
				<prop key="refund0013">refundFileReprint</prop>
				<prop key="refund0014">refundFileDownload</prop>
				<prop key="refund0015">refundSure</prop>
				<prop key="refund0016">refundFileCSV</prop>
				<prop key="refund0017">refundSureDetailAgree</prop>
				<prop key="refund0018">refundSureDetailRefuse</prop>
				
				
				<prop key="refund0019">refundOnlineResendQuery</prop>
				<prop key="refund0020">refundOnlineResend</prop>
				<prop key="refund0021">refundOnlinePrintQuery</prop>
				<prop key="refund0022">refundOnlinePrint</prop>
				
				<prop key="refund0030">refundWriteoffQuery</prop>
				<prop key="refund0031">refundWriteoff</prop>
				<prop key="refundBank">refundQueryCascade</prop>
				

				<!-- 退票 -->
				<prop key="cancel0001">drawCancelSupplyQuery</prop>
				<prop key="cancel0002">drawCancelCheckQuery</prop>
				<prop key="cancel0003">drawCancelQuery</prop>
				<prop key="cancel0004">refundCancelSupplyQuery</prop>
				<prop key="cancel0005">refundCancelCheckQuery</prop>
				<prop key="cancel0006">refundCancelQuery</prop>

				<prop key="cancel0011">drawCancelSupply</prop>
				<prop key="cancel0012">drawCancelCheckAgree</prop>
				<prop key="cancel0013">drawCancelCheckRefuse</prop>
				<prop key="cancel0014">refundCancelSupply</prop>
				<prop key="cancel0015">refundCancelCheckAgree</prop>
				<prop key="cancel0016">refundCancelCheckRefuse</prop>
				<prop key="cancelCsv">cancelFileCSV</prop>

				<!-- 勾对 -->
				<!-- 信息流文件 上传页面 -->
				<prop key="blend0001">blendFileUploadQuery</prop>
				<prop key="informationBatchUpload">informationBatchUpload</prop>
				<!-- 资金流文件 上传页面 -->
				<prop key="blend0002">financeFileUploadQuery</prop>
				<prop key="blend0003">infomationBlendManage</prop>
				<prop key="blend0004">blendErrorApply</prop>
				<prop key="blend0005">blendErrorPrint</prop>
				<prop key="blend0006">blendErrorCheck</prop>
				<prop key="blend0007">blendErrorQuery</prop>
				<prop key="blend0008">finaceBlendManage</prop>
				<prop key="blend0009">finaceErrorApply</prop>
				<prop key="blend0010">finaceErrorPrint</prop>
				<prop key="blend0011">finaceErrorCheck</prop>
				<prop key="blend0012">finaceErrorQuery</prop>
				<prop key="financeBatchUpload">financeBatchUpload</prop>
				
				

				<!-- 信息流文件 上传级联菜单 -->
				<prop key="blend0022">informationUploadCascade</prop>
				<!-- 信息流文件 上传 -->
				<prop key="blend0023">blendFileUpload</prop>
				<prop key="informationisexist">informationIsExist</prop>

				<!-- 资金流文件上传级联菜单 -->
				<prop key="blend0024">financeUploadCascade</prop>
				<!-- 资金流文件 上传 -->
				<prop key="blend0025">financeFileUpload</prop>
				
				<prop key="financeisexist">financeIsExist</prop>


				<!-- 勾对差错查询 -->
				<prop key="blend0013">checkBlendQuery</prop>
				<!-- 勾对信息查询 -->
				<prop key="blend0014">infomationBlendQuery</prop>
				<!-- 勾对信息删除查询 -->
				<prop key="blenddeletequery">checkBlendDeleteQuery</prop>
				<!-- 勾对信息删除-->
				<prop key="blenddelete">checkBlendDelete</prop>

				<prop key="blend0015">blendCancelChk</prop>
				<prop key="blend0016">cancelFileCSV</prop>
				<!-- 资金流核销查询导出csv -->
				<prop key="queryfinacefilecsv">queryFinaceFileCSV</prop>
				<!-- 信息流核销查询导出csv -->
				<prop key="queryinformationfilecsv">queryFinaceFileCSV</prop>
				

				<prop key="blend0020">companyBlendQuery</prop>

				<!-- 公司文件 级联菜单 -->
				<prop key="blend0021">companyQueryCascade</prop>
				<prop key="infomationquery">infomationQueryCascade</prop>

				<prop key="blend0040">success</prop>
				<prop key="blend0041">refuse</prop>
				<prop key="blend0042">cancelFileCSV</prop>
				<prop key="blend0043">blendCancelChk</prop>
				<prop key="blend0044">finaceCancelChk</prop>
				<prop key="blend0045">finaceFileCSV</prop>
				<prop key="blend0046">finaceSucess</prop>
				<prop key="blend0047">finaceRefuse</prop>
				
				<prop key="blend0050">trancheck_check</prop>
				<prop key="blend0051">trancheck_query</prop>
				<prop key="blend0052">checkQuery</prop>
				
				<prop key="blend0053">checkRefuse</prop>
				<prop key="blend0054">checkSuccess</prop>
				
				
				<prop key="blend0055">uploadQuery</prop>
				<prop key="blend0056">collectBlendQuery</prop>
				
				<prop key="reorder0001">reorderFileUpload</prop>
				<prop key="reorder0002">reorderResendQuery</prop>
				<prop key="reorder0003">reorderResend</prop>
				<prop key="reorder0004">channelInfo</prop>
				<prop key="reorderdelete">reorderDelete</prop>
				<prop key="sysaccquery">systemAccountDiffQuery</prop>
				
				<prop key="companyExcel">companyExcel</prop>
				<prop key="bankExcel">bankExcel</prop>
				<prop key="diffExcel">diffExcel</prop>


				<!-- 付款凭证录入 -->
				<prop key="va001">voucherDisplay</prop>
				<prop key="va002">voucherTypeCascade</prop>
				<prop key="va003">voucherSave</prop>
				
				<!-- 备付金报表 -->
				<prop key="rg">showRG</prop>
				<prop key="r1-1">showCR1_1</prop>
				<prop key="r1-1_save">saveCR1_1</prop>
				<prop key="r1-1_export">exportCR1_1</prop>
				
				<!-- 账务管理-->
				<prop key="accountload">accountLoad</prop>
				<prop key="accountaudit">accountAudit</prop>
				<prop key="accountquery">accountQuery</prop>
				<prop key="coursequery">courseQuery</prop>
				<prop key="supplierquery">supplierQuery</prop>
				<prop key="systemquery">systemQuery</prop>
				<prop key="productquery">productQuery</prop>
				<prop key="aduitagree">aduitAgree</prop>
				<prop key="aduitrefuse">aduitRefuse</prop>
				
				<!-- 日志信息查询 -->
				<prop key="optlogQuery">optLogQuery</prop>
				<prop key="setOptLogCSV">setOptLogCSV</prop>
			</props>
		</property>
	</bean>

</beans>