<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd"
	default-lazy-init="true">

	<description>Spring	Scheduled</description>
	
	<task:scheduler id="scheduler" pool-size="2"/>
	
	<task:scheduled-tasks scheduler="scheduler">
	    <!-- cron:每分钟一次 -->
	    <task:scheduled ref="scheduler" method="execute" cron="0 0 1 * * ?"/>
	</task:scheduled-tasks>

	<bean id="scheduler" class="com.somnus.module.scheduled.SchedulerAction"/>
	
</beans>