<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- ************************************************************************************************* -->
    <!-- *                                        MyBatis 配置                                                                                                                                                    * -->
    <!-- ************************************************************************************************* -->
    <!-- 配置sqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 代理数据源 -->
        <property name="dataSource" ref="proxyDataSource" />

        <!-- 指定Mapper文件位置 -->
        <property name="mapperLocations" value="classpath*:mybatis/sqlMap/*Mapper.xml" />
        <!-- 制定mybatis配置位置 -->
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>

    </bean>
    
    <!-- 扫描basePackage下所有以@MyBatisRepository标识的 接口或继承MyBatisRepository的接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.somnus" />
        <!-- 扫描annotation -->
        <property name="annotationClass" value="com.somnus.support.repository.mybatis._annotation.MyBatisRepository"/>
        <!-- 扫描接口 -->
        <property name="markerInterface" value="com.somnus.support.repository.mybatis._interface.MyBatisRepository"/>
    </bean>

</beans>     