<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<description>SpringMVC公共配置</description>

	<import resource="classpath*:/spring-mvc-*.xml" />
    <import resource="classpath:/spring-env.xml"/>
	<context:annotation-config />

	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
	
	<!-- 视图解析器 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="mediaTypes">
			<map>
				<entry key="html" value="text/html" />
				<entry key="json" value="application/json" />
				<entry key="img" value="image/jpeg"/>
			</map>
		</property>
		<property name="viewResolvers">
			<list>
				<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<property name="prefix" value="/WEB-INF/views/" />
					<property name="suffix" value=".jsp" />
				</bean>
			</list>
		</property>
		<property name="defaultViews">
			<list>
				<bean class="org.springframework.web.servlet.view.json.MappingJacksonJsonView" />
				<bean class="com.somnus.support.web.view.ImageView" />
			</list>
		</property>
	</bean>

	<!-- json对象转换器 -->
	<bean id="jsonConvert" 
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />

	<!-- 文件上传解析器 -->
	<bean id="multipartResolver" 
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="-1" />
	</bean>

	
	<!-- 异常条件 -->
	<bean id="businessExPredicate"
		class="com.somnus.support.exception.logger.predicate.BusinessExceptionLoggerPredicate" />
	<bean id="systemExPredicate"
		class="com.somnus.support.exception.logger.predicate.SystemExceptionLoggerPredicate" />

	<!-- 异常执行体 -->
	<bean id="businessExClosure"
		class="com.somnus.support.exception.logger.closure.BusinessExceptionLoggerClosure" />
	<bean id="systemExClosure"
		class="com.somnus.support.exception.logger.closure.SystemExceptionLoggerClosure" />
	<!-- 默认异常执行体 -->
	<bean id="defaultExClosure"
		class="com.somnus.support.exception.logger.closure.DefaultExceptionLoggerClosure" />
	
	<!-- 异常解析器 -->
	<bean id="exceptionResolver" 
		class="com.somnus.support.web.resolver.CustomMappingExceptionResolver">
		<!-- 条件 -->
		<property name="predicates">
			<list>
				<ref bean="businessExPredicate" />
				<ref bean="systemExPredicate" />
			</list>
		</property>
		<!-- 执行闭包(与条件顺序一一对应) -->
		<property name="closures">
			<list>
				<ref bean="businessExClosure" />
				<ref bean="systemExClosure" />
			</list>
		</property>
		<!-- 默认执行闭包 -->
		<property name="defaultClosure">
			<ref bean="defaultExClosure" />
		</property>
		<property name="exceptionMappings">
			<props>
				<!-- 可定义多个类型异常并分类 -->
				<prop key="com.somnus.support.exception.BizException">errors/businessError</prop>
				<prop key="com.somnus.support.exception.SysRuntimeException">errors/systemError</prop>
				<prop key="com.somnus.support.exception.SysException">errors/systemError</prop>
				<prop key="org.springframework.dao.DataAccessException">errors/dataAccessError</prop>
			</props>
		</property>
		<property name="defaultErrorView" value="errors/default" />
	</bean>

</beans>
