<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd  
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd 
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<context:annotation-config />
	<task:annotation-driven/> 
	<context:component-scan base-package="com.ips.bmps"/>

	<import resource="classpath:/spring-env.xml" />
	<import resource="classpath*:/spring-biz-*.xml" />
	<import resource="classpath*:/spring-resource-*.xml" />
	<import resource="classpath*:/jms/spring-jms*.xml" />
	<!-- <import resource="classpath:/spring-cache.xml" />
	<import resource="classpath:/webservice/spring-ws.xml" /> -->
	<import resource="classpath:/security-shiro.xml" />
	<import resource="classpath:/spring-scheduler.xml" />
	<bean class="com.ips.commons.support.util.ApplicationContextUtil"></bean>
	<bean class="com.ips.bmps.support.util.BeanUtilsHelper"></bean>


	<!-- 初始化对象校验器 -->
	<bean id="ovalHelper" class="com.ips.oval.support.OvalHelper">
		<property name="messageBundle" value="msg/oval_message" />
	</bean>

	<!-- 消息元素别名 -->
	<bean id="alias" class="com.ips.channel.support.message.MessageElementAlias">
		<property name="body" value="body" />
		<property name="message" value="message" />
	</bean>

	<!-- ************************************************************************************************* -->
	<!-- * 消息资源加载/访问 * -->
	<!-- ************************************************************************************************* -->

	<!-- 资源加载 -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="useCodeAsDefaultMessage" value="true" />
		<property name="basenames">
			<array>
				<value>classpath:/msg/errors_message</value>
			</array>
		</property>
		<property name="defaultEncoding" value="UTF-8" />
	</bean>

	<!-- 资源访问 -->
	<bean id="msa" class="com.ips.bmps.support.message.Msa">
		<constructor-arg>
			<ref bean="messageSource" />
		</constructor-arg>
	</bean>

	<!-- 消息元素扫描 
	<bean id="messageElementScannerConfigurer"
		class="com.ips.channel.support.message.MessageElementScannerConfigurer">
		<property name="basepackage" value="com.ips" />
		<property name="cacheManagerHelper" ref="cacheManagerHelper" />
	</bean>-->

	<!-- 消息加解密 
	<bean id="messageCryptoHelper" class="com.ips.channel.support.security.MessageCryptoHelper">
		<property name="messageSecurity" value="${message.security}" />
		<property name="md5Encoding" value="${message.md5Encoding}" />
		<property name="cacheManagerHelper" ref="cacheManagerHelper" />
		<property name="wsTransport" ref="wsTransport" />
	</bean>-->

	<!-- 报文异常解析器 
	<bean id="messageErrorResolver" class="com.ips.channel.support.message.MessageErrorResolver" />-->

	<bean class="com.ips.commons.support.util.FileGenerator">
		<property name="encoding" value="${system.charset}"/>
	</bean>
	
	<bean class="com.ips.commons.support.util.FileTmplate">
		<property name="encoding" value="${system.charset}"/>
		<property name="uploadPath" value="${upload.path}"/>
	</bean>
	

	<!-- 异常条件 -->
	<bean id="businessExPredicate"
		class="com.ips.bmps.support.exception.logger.predicate.BusinessExceptionLoggerPredicate" />
	<bean id="systemExPredicate"
		class="com.ips.bmps.support.exception.logger.predicate.SystemExceptionLoggerPredicate" />

	<!-- 异常执行体 -->
	<bean id="businessExClosure"
		class="com.ips.bmps.support.exception.logger.closure.BusinessExceptionLoggerClosure" />
	<bean id="systemExClosure"
		class="com.ips.bmps.support.exception.logger.closure.SystemExceptionLoggerClosure" />

	<!-- 默认异常执行体 -->
	<bean id="defaultExClosure"
		class="com.ips.bmps.support.exception.logger.closure.DefaultExceptionLoggerClosure" />

	<!-- 打印模板定义 -->
	<!-- 出款文件 -->
	<bean id="drawFileTemplate"
		class="com.ips.commons.support.print.impl.DefaultDrawFileTemplate" />
	<!-- 退款 -->
	<bean id="refundTemplate"
		class="com.ips.commons.support.print.impl.DefaultRefundTemplate" />
	<!-- 线上出款 -->
	<bean id="drawOnlineTemplate"
		class="com.ips.commons.support.print.impl.DefaultDrawOnlineTemplate" />
</beans>
