<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--请求参数配置，默认为action -->
	<bean id="parameterMethodNameResolver"
		class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver">
		<property name="paramName" value="opt" />
		<!-- 映射方法名称 -->
		<property name="logicalMappings">
			<props>
				<!-- CSV导出 -->
				<prop key="ep1000">csvExport</prop>

				<!-- 首页 -->
				<prop key="s1000">defaultDisplay</prop>

				<prop key="s2000">resourceDisplay</prop>
				<prop key="s2001">resourceCreateDisplay</prop>
				<prop key="s2002">resourceCreate</prop>
				<prop key="s2003">resourcePersistenceDisplay</prop>
				<prop key="s2004">resourceUpdate</prop>
				<prop key="s2005">resourceDelete</prop>

				<prop key="s3000">menuDisplay</prop>
				<prop key="s3001">menuPersistenceDisplay</prop>
				<prop key="s3002">menuCreate</prop>
				<prop key="s3004">menuUpdate</prop>
				<prop key="s3005">menuDelete</prop>

				<prop key="s4000">roleMenuDisplay</prop>
				<prop key="s4001">roleMenuPersistenceDisplay</prop>
				<prop key="s4002">roleMenuCreate</prop>
				<prop key="s4003">roleMenuUpdate</prop>
				<prop key="s4004">roleMenuDelete</prop>

				<prop key="s6000">roleResourceDisplay</prop>
				<prop key="s6001">roleResourcePersistenceDisplay</prop>
				<prop key="s6002">roleResourceCreate</prop>
				<prop key="s6003">roleResourceUpdate</prop>
				<prop key="s6004">roleResourceDelete</prop>

				<prop key="s7000">userGroupDisplay</prop>
				<prop key="s7001">userPersistenceDisplay</prop>
				<prop key="s7002">userGroupCreate</prop>
				<prop key="s7003">userGroupUpdate</prop>
				<prop key="s7004">userGroupDelete</prop>

				<prop key="s5000">roleGroupDisplay</prop>
				<prop key="s5001">groupPersistenceDisplay</prop>
				<prop key="s5002">groupCreate</prop>
				<prop key="s5003">groupUpdate</prop>
				<prop key="s5004">groupDelete</prop>
			</props>
		</property>
	</bean>

</beans>